@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to this amazing movie site!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <url target="Blank">https://docs.microsoft.com/aspnet/core</url>
    <!--[Rendering Movies view component, with a max of 5]-->
    <div class="row">
        <vc:movies max="5" />
    </div>
    <!--[/Rendering Movies view component, with a max of 5]-->


</div>
